/**=====================
   55. theme layout CSS Start
==========================**/

.page-wrapper.compact-wrapper, .page-wrapper.horizontal-wrapper {
	.page-body-wrapper {
		&.sidebar-icon, &.horizontal-menu {			
			.sidebar-wrapper{
				&[sidebar-layout="border-sidebar"] {
					.sidebar-main {
						.sidebar-links{
							>li{									
								.sidebar-link{
									border-bottom: 1px solid rgba($primary-color, 0.1);
									transition: all 0.3s ease;									
								}
							}
						}
					}
				}
				&[sidebar-layout="iconcolor-sidebar"]{
					.sidebar-main{
						.sidebar-links{
							>li{									
								$colors: $primary-color;
								$repeat: 60 ;
								@for $i from 1 through $repeat {
									&:nth-child(#{length($colors)}n+#{$i}) {
										svg{
											color: $primary-color;
										}
										&:hover{												
											a{
												svg{
												    stroke: $primary-color;
												}
											}
										}											
									}
								}									
							}
						}							
					}						
				}
			}
		}		
	}
}

/**=====================
   55. theme layout CSS ends
==========================**/
